/MonaLisaBuilder/MonaLisaBuilder/bin/
/MonaLisaBuilder/MonaLisaBuilder/obj/
/MonaLisaBuilder/MonaLisaBuilder/Content/obj/
/MonaLisaBuilder/MonaLisaBuilder/Content/bin/
/MonaLisaBuilder/MonaLisaBuilder/Properties/
/MonaLisaBuilder/.vs/